<div class="container">
    <div class="text-center">
        <h2>Jo's Label</h2>
        <img src="../../assets/img/self.jpg" alt="">
        <p class="text-faded">
            Hello! My name is <span class="special-chars">Jodie</span>. I am a backend
            <span class="special-chars">software engineer</span> with a backgroung in computer science. 
            4+ years experience in developing web-based applications and microservices. 
            Also, skilled in different technologies that are used wildely within the industry, 
            including AWS, Jenkins, Spring framework and Django freamwork etc. 
        </p>
        <p>I have always enjoyed traveling to new places and experienceing different cultures and food.
            In the next section, I want to share a little bit of my journey with you. 
            Let me know which one is your favorite!
        </p>
        <p class="text-faded">
            This site is created with <span class="special-chars">Angular</span> 
            and <span class="special-chars">Angular Material</span>.
        </p>
        <a>
            <button mat-raised-button [routerLink]="['/']" fragment="content-component" color="primary">Start Journey!</button>
        </a>
    </div>
</div>
